.App {

  height: 100vh;
  background-color: rgb(52,58,64);
}

.cardImage{
  height:25%;
  width: 25%;
  align-self: center;
}



.container{
  display: flex;
  list-style: none;
}

.page{
padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.disabled{
  cursor: not-allowed;
  
}

.active{
border: 2px solid #000;
  font-weight: bold;
}

.previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break{
  padding: 10px;
}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.containerTable{
  height: 100vh;
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;

  /* background: rgb(52,58,64); */
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;


}

.playerClass{
  flex:1;

  padding: 10px;
}

/* .containerElement{
  flex:1;
  border-style: solid;
  border-color: black;
  padding: 10px;

} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
